{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <br>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/DSC01010.JPG' %}" class="d-block w-100" alt="test1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>The history of esports</h5>
                    <p>The earliest forms of competitive gaming can be traced back to the 1970s, with events like the 
                        "Intergalactic Spacewar Olympics" in 1972 at Stanford University. The prize was a year's 
                        subscription to Rolling Stone magazine. The 21st century marked a significant consolidation 
                        of esports, with the professionalization of teams, coaches, and training regimens, mirroring 
                        traditional sports. Platforms like Twitch and YouTube became crucial for broadcasting and fan engagement.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/DSC06271.jpg' %}" class="d-block w-100" alt="test2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>test2</h5>
                    <p>...</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/DSC06301.jpg' %}" class="d-block w-100" alt="test3">
                <div class="carousel-caption d-none d-md-block">
                    <h5>test3</h5>
                    <p>test3 1</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock %}