{% extends 'website/base.html' %}
{% load static %}

{% block content %}

    <h2 class="constrained-text">Our Esports courses are a blend of computing, business studies and sports, 
        so you're equipped with the best chance for your dream career in the rapidly 
        expanding esports sector</h2>
    <br>


    <h5 class="constrained-text">Esports is one of the fastest-growing sports in the world, driven by rising 
        viewership, sponsorship opportunities, and the increasing popularity of competitive 
        gaming. According to Statista, the global esports industry is projected to reach £3.93 
        billion in 2025, with an expected annual growth rate of 5.54% until 2029. Bringing 
        together gaming, business, events, and health and wellbeing, esports creates a dynamic 
        fusion under one roof.</h5>
    
{% endblock %}