<nav class="navbar navbar-expand-lg navbar-dark bg-* justify-content-center">
  <a class="navbar-brand main-heading" href="{% url '' %}">  
    &nbsp; Home
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
   </button>
    
    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
         &nbsp;     &nbsp;     &nbsp;
           <li class="nav-item">
            <a class="nav-link" href="{% url 'infopage' %}">More Information &nbsp; </a>
          </li>
          &nbsp;     &nbsp;     &nbsp;
     </ul>
    </div>
    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
         &nbsp;     &nbsp;     &nbsp;
          <li class="nav-item">
            <h3>Welcome to Esports</h3>
          </li>
          &nbsp;     &nbsp;     &nbsp;
      </ul>
    </div>

    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        &nbsp;     &nbsp;     &nbsp;
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Sign out &nbsp;</a>
        </li>
        &nbsp;     &nbsp;     &nbsp;
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account' %}">Account &nbsp;</a>
        </li>
        &nbsp;     &nbsp;     &nbsp;
        {% else %}
         &nbsp;     &nbsp;     &nbsp;
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my-login' %}">Login &nbsp; </a>
          </li>
          &nbsp;     &nbsp;     &nbsp;
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}"> Register </a>
           </li>
            &nbsp;     &nbsp;     &nbsp;
          {% endif %}
</nav>